<link rel="stylesheet" href="http://goo.gl/GdBs89" type="text/css">
<style>body { width: 800px; margin: 0 auto }</style>
<h1>Instructions</h1>

<p>Clone the following git repository to get started:</p>

<pre><code>git@bitbucket.org:ecoportal/code-test.git
</code></pre>

<p>Commit sensibly. You have just over an hour to attempt a total of 6 questions,
suggested times are given for each question. The first two questions must be
completed, the others can be attempted in any order, to any state of completion,
or skipped should you run out of time. Prioritise the ones that you think show
off your skills the most.</p>

<p>When you&#39;re done, generate an archive which includes <code>.git</code> and send it to us.</p>

<h2>Question 1</h2>

<p>Without using <code>uniq</code>, define a function in ruby that accepts a list and returns
only the unique values in that list.</p>

<p><em>2-5 minutes</em></p>

<h2>Question 2</h2>

<p>Implement a basic calculator in ruby that accepts expressions of the form
<code>&quot;-1 + 3 - 2&quot;</code>. Implement the following:</p>

<ul>
<li>Negation (<code>-1</code>)</li>
<li>Addition (<code>1+1</code>)</li>
<li>Subtraction (<code>2-1</code>)</li>
</ul>

<p>eval, shelling out etc are not allowed.</p>

<p><em>10 minutes</em></p>

<h2>Question 3</h2>

<p>Refactor/comment on the piece of &quot;library&quot; code found in <code>question_3.rb</code>. Include:</p>

<ul>
<li>Purpose</li>
<li>Style</li>
<li>Issues &amp; how to fix, any suggested improvements</li>
</ul>

<p><em>10 minutes</em></p>

<h2>Question 4</h2>

<p>Produce a data model for the following. Use whatever format(s) you&#39;re comfortable
with (diagram, code, text explanation)</p>

<p>An organization contains many employees, which are broken up into various
subteams, which may be broken up further. An employee can be a member of more
than one subteam. Content may be permissioned against certain subteams or
directly against certain employees.</p>

<p>Briefly outline the strengths/weaknesses of your approach.</p>

<p><em>10 minutes</em></p>

<h2>Question 5</h2>

<p>Create the following using HAML and the environment provided:</p>

<ul>
<li>10 columns, variable height, all aligned so that their tops touch the top of the
page. Each column has a heading.</li>
<li>Each column contains a random (10 - 30) number of blocks which will scroll the
inside of the column, but not the heading of the column. Blocks are full width
of the column and stack vertically.</li>
<li>Each block has one of the classes <code>blue</code> <code>red</code> <code>yellow</code> randomly applied and
is styled accordingly.</li>
<li>Use background colours to distinguish between the different elements/layers.</li>
</ul>

<p><strong>If you&#39;re not comfortable with SASS</strong> create and edit application.css in
public/</p>

<p><strong>If you&#39;re not comfortable with HAML</strong> then it sucks to be you.. You&#39;re going
to need to modify the codebase to use ERB instead and change the view files to
match.</p>

<p><em>20 minutes</em></p>

<h2>Question 6</h2>

<p>Add coffeescript and any UI desired to question 6 such that:</p>

<ul>
<li>You can filter to all <code>blue</code>, <code>red</code> or <code>yellow</code> blocks</li>
<li>You can drag and drop blocks between lists</li>
<li>You can add text to any block by clicking on it to trigger some sort of
editor</li>
</ul>

<p>You may use any javascript libraries you choose.</p>

<p><strong>If you&#39;re not comfortable with Coffeescript</strong> create and edit application.js
in public/ instead.</p>

<p><em>10 minutes</em></p>
