-# Define your view here, erasing the below

%p
  If you need to add any static assets, drop them in public/ and modify layout.haml
  accordingly. They'll be accessible at /name_of_asset, e.g
  %a{href: "/example.txt"} this example.txt file.

=haml :partial, locals: {color: @color}
