!!! 5
%html
  %head
    %title Questions 5 &amp; 6
    %link{rel: "stylesheet", href: "/application.css", type: "text/css"}
    %script{type: "text/javascript", href: "/application.js"}
    -# If you want to bring in any extra scripts for question 6, add them here
  %body
    =yield
